
.collection {
    margin-bottom: 10%;
    .title {
        text-align: center;
        h1 {
            font-size: 40px;
        }
        .see-more {
            cursor: pointer;
        }
    }
    .preview{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 5% 0;
    }
}