
.StripeCheckout {
    width: 100%; 
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    
    span {
        background: rgb(17, 17, 104) !important;
        box-shadow: none !important;
        color: white !important;
        text-shadow: none !important;
    }
}