.collection {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 40px;
        margin-bottom: 5%;
    }
  
    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    p {
        cursor: pointer;
        margin-top: auto;
    }
  }