.collection-item {
    overflow: hidden;
    position: relative;
    margin: 5% auto;
    
    .image{
        width: 100%;
        height: 87%;
        background-size: cover;
        background-position: center;
    }
    .info{
        height: 13%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .name {
            margin-top: 5%;
            font-weight: normal;
            font-size: 15px;
        }
        .price {
          font-weight: bold;
        }
    }
    &:hover {
        cursor: pointer;
    }

    button {
        width: 80%;
        opacity: 0.7;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        z-index: 1;
      }
    
      &:hover {
        .image {
          opacity: 0.8;
        }
    
        button {
          opacity: 0.85;
          display: flex;
        }
      }
}