.signin {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.login-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .login-logo {
        cursor: pointer;
    }
}