.landing {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    .hero {
        position: relative;
        .hero-image {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            object-fit: cover;
            img {
                width: 130%;
                transform: translateX(-20%);
            }
        }
        .hero-text {
            position: absolute;
            z-index: 99;
            top: 30%;
            right: 5%;
            max-width: 500px;
            color: white;
        
            h1 {
                font-size: 65px;
                margin-bottom: 5%;
                text-align: left;
            }
            
        }
    }
    .categories {
        margin-top: 10%;
        font-size: 50px;
        border-bottom: 3px solid rgb(255, 238, 0);
        width: fit-content;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}