.cart-dropdown {
    position: absolute;
    width: 20%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5%;
    background-color: white;
    top: 90px;
    right: 2%;
    z-index: 5;
  
    .cart-items {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  
    button {
      margin-top: auto;
      width: 100%;
      line-height: normal;
      padding: 0 3%;
    }
  }