.cart-dropdown {
    position: absolute;
    width: 30%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5%;
    border: 0.5px solid rgb(153, 153, 153);
    background-color: white;
    top: 9vh;
    right: 0;
    z-index: 5;
  
    .cart-items {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  
    button {
      margin-top: auto;
      width: 100%;
      line-height: normal;
      padding: 0 3%;
    }
  }