.cart-dropdown {
    position: absolute;
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 2%;
    border: 0.5px solid rgb(153, 153, 153);
    background-color: white;
    top: 9vh;
    right: 1%;
    z-index: 5;
    span {
      font-weight: normal;
      font-size: smaller;
    }
  
    .empty-message {
      font-size: 25px;
      color: rgb(151, 151, 151);
      text-align: center;
      margin: 17.5vh 0;
    }

    .cart-items {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 35vh;
      margin-top: 5vh;
    }
  
    button {
      margin-top: auto;
      width: 100%;
      line-height: normal;
      padding: 0 3%;
    }
  }