.signup {
    width: 40vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5% auto;
    border: rgb(231, 220, 60) solid 0.5px;
    border-radius: 2%;
    padding: 5%;
    button {
        margin: 0 auto;
    }
}