.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation{
        min-width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

