.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .navigation{
        .left-nav {
            width: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

