.checkout-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    margin: 5% 0;
    padding-bottom: 5%;
    border-bottom: 0.5px solid grey;
  
    .image-container {
        width: 20%;
        object-fit: cover;
        img{
            width: 100%;
        }
    }
  
    .item-details {
      width: 75%;
      display: flex;
      justify-content: space-between;
      margin-left: 7%;
      font-size: 17px;
  
      .price{
        font-weight: bold;
      }
      .quantity-change {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .quantity {
              margin: 0 10px;
          }
          .arrow {
              font-size: 20px;
              cursor: pointer;
          }
      }
      .remove-button {
        cursor: pointer;
      }
    }
}