.checkout-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    margin: 5% 0;
  
    img {
      width: 25%;
    }
  
    .item-details {
      width: 75%;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
  
      .price{
        font-size: 18px;
        font-weight: bold;
      }
      .name {
        font-size: 20px;
      }
      .remove-button {
        cursor: pointer;
      }
    }
}