* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
    max-width: 100%;
    font-family: 'Jost';
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: 'Jost';
}