.checkout-page {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    .item-block {
        width: 75%;
        margin-right: 5%;
        padding: 2%;
    }
    .total-block{
        width: 25%;
        padding: 2%;
    }
}