.checkout-page {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    .item-block {
        width: 70%;
        padding: 2%;
    }
    .total-block{
        position: sticky;
        position: -webkit-sticky;
        top: 0; 
        width: 30%;
        height: fit-content;
        padding: 2%;
        .test-warning {
            margin: 5% 0;
            font-size: 17px;
            color: red;
        }
    }
}