.checkout-page {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    h2 {
        border-bottom: grey solid 0.5px;
    }
    .item-block {
        width: 70%;
        padding: 2%;
        .empty-cart {
            margin: 10% auto;
            width: fit-content;
            text-align: center;
            p {
                color: grey;
                font-size: 20px;
                margin-bottom: 10%;
            }
            button{
                width: 250px;
            }
        }
    }
    .total-block{
        position: sticky;
        position: -webkit-sticky;
        top: 0; 
        width: 30%;
        height: fit-content;
        padding: 2%;
        button {
            margin-top: 5%;
        }
    }
}
